<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card-group>
          <c-card class="p-8">
            <c-card-body>
              <form cForm>
                <h1>Olá, X. Seja bem-vindo</h1>
                <p class="text-medium-emphasis">É necessário configurar a empresa matriz para visualizar todas as informações do sistema.</p>

                <c-row>
                 
                    <button cButton class="px-8" color="primary">
                      Iniciar Configuração
                    </button>
                 
                </c-row>
              </form>
            </c-card-body>
          </c-card>
         
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
