:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
  c-col {
    padding: 20px !important;
  }
  [cCardTitle]{
    color: var(--cui-primary) !important;
    font-size: 1rem !important;
  }
}
